#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#110a19",
    floating_border_color: "#6f5168",
    focused_border_color: "#c3c1c5",
    background_color: "#110a19",
)