/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #110a19 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c3c1c5; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c3c1c5; background-color: rgba(111,81,104,0.4)}
.cm-s-nqqwal { background-color: #110a19; color: #c3c1c5; }
.cm-s-nqqwal span.cm-builtin { color: #764243; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #63596e; }
.cm-s-nqqwal span.cm-keyword { color: #99553f; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #b0632c; }
.cm-s-nqqwal span.cm-def { color: #ad6a47; }
.cm-s-nqqwal span.cm-variable { color: #6f5168; }
.cm-s-nqqwal span.cm-variable-2 { color: #ad6a47; }
.cm-s-nqqwal span.cm-string { color: #764243; }
.cm-s-nqqwal span.cm-string-2 { color: #764243; }
.cm-s-nqqwal span.cm-number { color: #ad6a47; }
.cm-s-nqqwal span.cm-tag { color: #99553f; }
.cm-s-nqqwal span.cm-property { color: #6f5168; }
.cm-s-nqqwal span.cm-attribute { color: #6f5168; }
.cm-s-nqqwal span.cm-qualifier { color: #b0632c; }
.cm-s-nqqwal span.cm-meta { color: #ad6a47; }
.cm-s-nqqwal span.cm-header { color: #99553f; }
.cm-s-nqqwal span.cm-operator { color: #99553f; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(173,106,71,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #99553f; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #110a19); }
