@define-color foreground #c3c1c5;
@define-color background #110a19;
@define-color cursor #c3c1c5;

@define-color color0 #110a19;
@define-color color1 #9f4e21;
@define-color color2 #764243;
@define-color color3 #99553f;
@define-color color4 #b0632c;
@define-color color5 #ad6a47;
@define-color color6 #6f5168;
@define-color color7 #928e98;
@define-color color8 #63596e;
@define-color color9 #D5682D;
@define-color color10 #9E585A;
@define-color color11 #CC7255;
@define-color color12 #EB843B;
@define-color color13 #E78E5F;
@define-color color14 #946D8B;
@define-color color15 #c3c1c5;
