@define-color accent_color #ad6a47;
@define-color accent_fg_color #c3c1c5;
@define-color accent_bg_color #ad6a47;
@define-color window_bg_color #110a19;
@define-color window_fg_color #c3c1c5;
@define-color headerbar_bg_color #110a19;
@define-color headerbar_fg_color #c3c1c5;
@define-color popover_bg_color #110a19;
@define-color popover_fg_color #c3c1c5;
@define-color view_bg_color #110a19;
@define-color view_fg_color #c3c1c5;
@define-color card_bg_color #110a19;
@define-color card_fg_color #c3c1c5;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
